<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мои резюме</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="nav">
        <a th:href="@{/}">Главная</a>
        <a th:href="@{/vacancies}">Вакансии</a>
        <a th:href="@{/resumes}">Резюме</a>
        <a th:href="@{/vacancies/create}">Создать вакансию</a>
        <a th:href="@{/resumes/create}">Создать резюме</a>
        <a th:href="@{/my-vacancies}">Мои вакансии</a>
        <a th:href="@{/my-resumes}">Мои резюме</a>
        <a th:href="@{/profile}">Профиль</a>
        <a th:href="@{/register}">Регистрация</a>
        <a th:href="@{/login}">Вход</a>
    </div>

    <h1>Мои резюме</h1>

    <div class="actions">
        <a class="btn" th:href="@{/resumes/create}">Создать резюме</a>
        <a class="btn" th:href="@{/profile}">Назад в профиль</a>
    </div>

    <div class="cards">
        <div class="card" th:each="resume : ${resumes}">
            <h3 th:text="${resume.name}">Resume</h3>
            <p>Зарплата: <span th:text="${resume.salary}">0</span></p>
            <a class="btn" th:href="@{'/resumes/' + ${resume.id}}">Подробнее</a>
        </div>
    </div>
</div>
</body>
</html>